// Cria variáveis na raíz do documento
:root {
    -fx-color-primary: #9F740B;
    -fx-color-primary-hover: #DAA010;
    -fx-color-primary-active: #FFC928;

    -fx-color-error: #FF294E;
    -fx-color-success: #29FF50;
}

// Aplica estilos no container com id "root"
#root {
	-fx-pref-width: 1280px;
	-fx-pref-height: 720px;
}