@import "Global.css"

#root {
	-fx-background-image: url('../img/Chave_Background.jpg');
	-fx-alignment: center;
	-fx-fill-width: false;
	-fx-spacing: 20px;
}

#loginContainer {
	-fx-background-radius: 12px;
	-fx-background-color: white;
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 24px, 0px, -5px, 5px);
	-fx-spacing: 8px;
	-fx-padding: 12px;
	-fx-alignment: top-center;
}

#errorText {
    -fx-color: -color-error;
}