#root {
	/*-fx-alignment: center;*/
	/*-fx-fill-width: false;*/
}

#sidebar {
    -fx-min-width: 240px;
	-fx-background-color: white;
	-fx-padding: 12px;
	//-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 24px, 0, 5px, 0);
}

#content {
    -fx-background-color: #fff;
}

#contentPane {
    -fx-background-color: #fff;
    -fx-background-radius: 12px;
    -fx-background-insets: 4px;
    -fx-effect: innershadow(gaussian, rgba(200,200,200,0.25), 12px, 0, 3px, 3px);
}

#header, #content {
    -fx-pref-width: 1640px;
}

#header {
    -fx-pref-height: 60px;
	-fx-background-color: white;
	-fx-padding: 12px;
	//-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 24px, 0, 5px, 5px);
}

#statusBar {
    -fx-background-color: #ffffff;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 1 0 0 0;
    -fx-alignment: center_left;
}

#systemStatus {
    -fx-text-fill: #888888;
}
