@import "Global.css"

.sgc-button {
    -fx-text-fill: #ffffff;
    -fx-background-color: -fx-color-primary;
    // -fx-width: 250px:
    -fx-fit-to-width: true;
}

.sgc-button:hover {
    -fx-background-color: -fx-color-primary-hover;
}

.sgc-button:active {
    -fx-background-color: -fx-color-primary-active;
}