@import "../Global.css"

.sgc-button {
    -fx-background-radius: 100px;
    -fx-pref-width: 240px;
    //-fx-padding: 4px 12px 4px 12px;
}

.login-button {
    -fx-text-fill: #ffffff;
    -fx-background-color: -fx-color-primary;
}

.login-button:hover {
    -fx-background-color: -fx-color-primary-hover;
}

.login-button:pressed {
    -fx-background-color: -fx-color-primary-active;
}